<!DOCTYPE html>
<!--
     ██╗ █████╗  ██████╗██╗  ██╗███████╗ ██████╗ ███╗   ██╗    ██╗  ██╗██╗███╗   ██╗ ██████╗ ███████╗
     ██║██╔══██╗██╔════╝██║ ██╔╝██╔════╝██╔═══██╗████╗  ██║    ██║ ██╔╝██║████╗  ██║██╔════╝ ██╔════╝
     ██║███████║██║     █████╔╝ ███████╗██║   ██║██╔██╗ ██║    █████╔╝ ██║██╔██╗ ██║██║  ███╗███████╗
██   ██║██╔══██║██║     ██╔═██╗ ╚════██║██║   ██║██║╚██╗██║    ██╔═██╗ ██║██║╚██╗██║██║   ██║╚════██║
╚█████╔╝██║  ██║╚██████╗██║  ██╗███████║╚██████╔╝██║ ╚████║    ██║  ██╗██║██║ ╚████║╚██████╔╝███████║
 ╚════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝    ╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝
-->
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./favicon/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= require('./favicon/manifest.json') %>">
    <link rel="mask-icon" href="<%= require('./favicon/safari-pinned-tab.svg') %>" color="#5bbad5">
    <meta name="theme-color" content="#000000">
    <meta charset="UTF-8">
    <!-- Metadata for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Jackson Kings Official</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="header-logo">
            <img src="<%= require('./assets/logo.svg') %>" />
          </div>
        </div>
        <div class="row">
          <nav>
            <div class="header-social-media-links">
              <div class="col-sm-3">
                <a href="https://twitter.com/thejacksonkings" target="_blank">Twitter</a>
              </div>
              <div class="col-sm-3">
                <a href="https://facebook.com/jacksonkings" target="_blank">Facebook</a>
              </div>
              <div class="col-sm-3">
                <a href="https://www.instagram.com/jacksonkings/" target="_blank">Instagram</a>
              </div>
              <div class="col-sm-3">
                <a href="https://soundcloud.com/jacksonkings" target="_blank">SoundCloud</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <section class="main-content">
      <div id="app"></div>
    </section>
    <!--
    The footer has some fancy grid layout. When not on a mobile device the footer
    is divded into 2 side by side columns. When smaller the columns stack to go vertical.
    -->
    <footer>
      <div class="container">
        <div class="row">
          <!-- 
          Social media icons and links
          ============================

          The target attribute specifies to open in a new window when clicked.
          The icons are part ofa custom font and are displayed by that 'fa' and 'fa-icon' classes.
          -->
          <div class="social-media-icons col-md-8 col-sm-6 col-md-push-4 col-sm-push-6">
            <a href="https://twitter.com/thejacksonkings" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://facebook.com/jacksonkings" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/jacksonkings/" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://soundcloud.com/jacksonkings" target="_blank">
              <i class="fa fa-soundcloud" aria-hidden="true"></i>
            </a>
          </div>

          <!-- Copyright notice -->
          <div class="footer-copyright col-md-4 col-sm-6 col-md-pull-8 col-sm-pull-6">
            &copy <span id="footer-copyright-year">2016-<%= htmlWebpackPlugin.options.copyrightYear %></span> Jackson Kings. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
    <!-- Load this at the bottom of the body so it's non blocking -->
    <script type="text/javascript">
      /****** Google Analytics ***********/
      // This is copied straight from google.
      // DO NOT MODIFY.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76867928-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
